// @import '../../components/button/button.scss';
@import '../../components/button/button';
.header {
    background-color: #f5f5f5;
    padding: 20px 0;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
  
      .logo {
        img {
          max-width: 150px;
        }
      }
  
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        align-items: center;
  
        li {
          margin-right: 30px;
  
          &:last-child {
            margin-right: 0;
          }
  
          a {
            color: #000000;
            font-size: 18px;
            text-decoration: none;
            transition: color 0.3s ease;
            border: none;
            padding: 10px;
  
            &:hover {
              color: #0000008c;
              border: 1px solid #4b4a4a54;
            }
          }
        }
      }
   .header__button {
        @include button(#fff, #CAA892);
        transition: 0.3s ease; 
       }
}
}

// .header__button { 
//     background-color: #CAA892;
//     border: none;
//     border-top-left-radius: 40%;
//     border-bottom-right-radius: 40%;
//     padding: 10px 20px;
//     margin-left: 20px;
//     font-size: 16px;
//     cursor: pointer;
//     text-decoration: none;
//     a {
//       transition: 0.3s ease;
//       text-decoration: none;
//       color: #fff;
      
//     &:hover {
//       background-color: #caa892a0;
      
//     }
//   }
// }