.testimonials{
    margin: 0 auto;
    background-color: #f5f5f5;
    padding-top: 100px ;
    padding-bottom: 100px;

    .testimonials__subtitle{
        font-size: 20px;
        font-weight: 500;
        color: #646464;
        text-align: center;
    }

    .testimonials__title{
        font-size: 48px;
        font-weight: 500;
        text-align: center;
        color: #212121;
    }
}