
.complited {
    background-color: #f5f5f5;
    padding: 50px 0;

    .complited__title {
        max-width: 817px;
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        margin: 0 auto;
        margin: 87px auto;
    }
    
    .complited__items{
        display: flex;
        justify-content: space-between;

        .complited__item{
            position: relative;
            background-color: #f5f5f5;
            width: 185px;
            height: 185px;
            box-shadow: 0px 6px 10px 2px #6464644a;
            border-top-left-radius: 30%;
            border-bottom-right-radius: 30%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            &:nth-child(even) {
                margin-top: 7%;
            }
            &:nth-child(2)::before {
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                content: url(../../assets/images/complitedLine2.svg);
                width: 100%;
                height: 100%;
                display: block;
                z-index: -1;
              }
            &:nth-child(odd)::before {
                position: absolute;
                left: 100%;
                top: 100%;
                transform: translateY(-50%);
                content: url(../../assets/images/complitedLine.png);
                width: 100%;
                height: 100%;
                display: block;
                z-index: -1;
              }

            .complited__item-number {
                font-size: 50px;
                font-weight: 700;
            }
            .complited__item-subtitle{
                font-size: 18px;
                font-weight: 600;
                color: #646464;
            }
        }
    }
}  