@import '../../components/button/button.scss';

.latest {
  margin: 0 auto;
  padding-top: 100px;
  background-color: #f5f5f5;
}
.latest-subtitle {
  font-size: 20px;
  color: #646464;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.latest-title {
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.latest-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  padding-top: 50px;

  .latest-news-item{
    margin-bottom: 40px;
    gap:20px;

    img {
       width: 100%;  
      }
    .latest-news-item-move{
      max-width: 500px;
      &:hover {
        transform: scale(1.1);
        transition: 1s ease-in-out;
      }
      .latest-news-item-title {
        font-size: 30px;
        font-weight: 600;
        color: #212121;
      }
      .latest-news-item-descr {
        font-size: 14px;
        font-weight: 400;
        color: #646464;
        margin-bottom: 65px;
      }
    }
  }


}

